@mixin google-font-weight($name, $weight:"") {
    $space-weight: " "+$weight;
    $dash-weight: "-"+$weight;

    @if $weight== "" {
        $space-weight: "";
        $dash-weight: "";
    }
    @font-face {
        font-family: unquote($name)+$space-weight;
        src: url("/../../fonts/"+$name+$dash-weight+".woff2") format("woff2"), url("/../../fonts/"+$name+$dash-weight+".woff") format("woff"), url("/../../fonts/"+$name+$dash-weight+".ttf") format("truetype");
    }
}
@mixin google-font($name) {
    @include google-font-weight($name);
    @include google-font-weight($name, "black");
    @include google-font-weight($name, "bold");
    @include google-font-weight($name, "light");
    @include google-font-weight($name, "thin");
}
@include google-font("awconqueror");
@include google-font("postgrotesk");